Django==3.2.12
djangorestframework==3.12.4
Scrapy==2.6.2
crochet
scrapyd~=1.2.1
python-scrapyd-api~=2.1.2
django-debug-toolbar~=3.2.2
drf-yasg
django-bootstrap5
django-registration
rest-swagger
scrapy-djangoitem
